@model ProyFinalDESWB.Models.Cliente

@{
    ViewData["Title"] = "DetailsClientes";
}
<style>
    .img {
        background-color: #212529;
    }
</style>
<style>
    .modal-header {
        color: #fff;
        background: #428bca;
        display: flex;
        justify-content: center;
    }

    .help-block {
        color: red;
    }

    .form-group.has-error .form-control-label {
        color: red;
    }

    .form-group.has-error .form-control {
        border: 1px solid red;
        box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
    }

    .alertify .ajs-dialog {
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    .ajs-header {
        background-color: #286090 !important;
        color: white !important;
        /*text-align: center;*/
        font-size: 18px;
        font-weight: bold;
    }

    .ajs-ok {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .ajs-cancel {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

<div class="card">
    <div class="card-header">
        <h1 class="mt-3 text-center">Detalle del Cliente</h1>
    </div>
    <div class="card-body">
        <dl class="container" style="margin-left :40%;">

            <dd class="col-sm-10">
                <!-- Utiliza la etiqueta img para mostrar la imagen desde wwwroot/imagenes -->
                <img src="~/imagenes/clientelogo.png" alt="Imagen del Cliente" class="img-fluid" width="250px" />
            </dd>

            <dt class="col-sm-10">
                Codigo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cod_cliente)
            </dd>
            <dt class="col-sm-2">
                Nombres Completos
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nombres_completo)
            </dd>
            <dt class="col-sm-2">
                DNI/RUC
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dniruc)
            </dd>
            <dt class="col-sm-2">
                Direccion
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.direccion)
            </dd>
            <dt class="col-sm-2">
                Correo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.correo)
            </dd>
            <dt class="col-sm-2">
                Tipo de Cliente
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tipocli)
            </dd>
        </dl>
        <div class="text-center">
            <a asp-action="EditCliente" asp-route-id="@Model.cod_cliente" class="btn btn-primary">Editar</a> |
            <a asp-action="ListadoClientes" class="btn btn-success">Regresar al Listado</a>
        </div>
    </div>
</div>


